<h1 class = "tank_name"><%= @tank.name %></h1>


<h2 class = "money_problems"><%= @tank.money %></h2>

<%# link_to "Add a 💚", "/posts/#{@post.id}?like=true" %>

  <!-- <div class="button_link">
    <%#= link_to "PRE$$", "/tanks/#{@tank.id}?press=true"%>
  </div> -->



  <%= button_to "PRE$$", "/tanks/#{@tank.id}/press", remote: true, class: "button"%>
