<h1><%= @tank.name %></h1>
<h2><%= @tank.money %></h2>

<%# link_to "Add a 💚", "/posts/#{@post.id}?like=true" %>

<button type="button" class="btn btn-outline-primary">
<%= link_to "PRE$$", "/tanks/#{@tank.id}?press=true" %>
</button>
