/* Login-In and Register Stiles - adapted from bootstrap examples */

@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Barriecito');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html,body{
background-image: url('https://cdn.pixabay.com/photo/2018/04/21/00/03/fantasy-3337385_960_720.jpg');
background-size: cover;
/* background-repeat: no-repeat; */
height: 100%;
width: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
font-family: 'Hind Siliguri', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 350px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-body {
  color: white;
}

.fishpic {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 300px;
}

/* .email_style{
/* margin-top: auto; */

.card-header {
  line-height: 1.6;
  color: white;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Luckiest Guy', astigmatic;
  position: relative;
  bottom: -40px;
}

.card-header_login {
  line-height: 1.6;
  color: white;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Luckiest Guy', astigmatic;
  position: relative;
  bottom: -40px;
}

.card_login {
  height: 270px;
  margin-top: auto;
  margin-bottom: auto;
  width: 350px;
  background-color: rgba(0,0,0,0.5) !important;
}

.brand_logo_container {
			position: absolute;
			height: 120px;
			width: 120px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 2px solid white;
		}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.submit_btn{
color: black;
font-size: 18px;
font-family: 'Luckiest Guy';
background-color: #FFC312;
width: 200px;
}

.submit_btn:hover{
color: white;
background-color: grey;
}

.submit_btn_2 {
color: black;
font-size: 18px;
font-family: 'Luckiest Guy';
background-color: #FFC312;
width: 100px;
}

.submit_btn_2:hover{
color: white;
background-color: grey;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.login_container {
 margin: auto;
}

.register_link {
  margin: 20px;
  color: white;
  font-family: 'Luckiest Guy', astigmatic;
}

.heart{
  margin: auto;
  margin-left: 130px;
  font-size: 3.0em;

  /* height: 100px; */
}


/* Tank New */

.tank_header{
  /* margin-left: 489px; */
  position: relative;
  top: 190px;
  text-align: center;
  color: #CEF0D4;
  font-family: 'Righteous', regular;
  font-size: 70px;
  font-weight: normal;
  text-shadow: 1px 1px 2px #082b34;
}

.tank_form{
  margin: auto;
  width: 50%;
  /* padding: 300px; */
  /* align-left: 190px; */
  position: relative;
  top: 280px;
  left: 290px;
}

.tank_submit {
  margin-left: -5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Barriecito", regular;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  position: relative;
  background-color: rgb(142,131,200);
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.tank_submit:hover {
  background: cyan;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.tank_submit:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.tank_submit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.tank_submit:focus {
  outline:0;
}

/* Tank Index */
.tank_body{
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/016/241/647/large/adam-homoki-cartoonwatersahder-lake.jpg?1551433480') !important;
  /* background-size: 100%; */

  height: 100%;
  /* width: 100%; */

}

/* Tank Show */

/* The Button - Got help from examples of interactive buttons */

.button {
  position: fixed;
  top: 500px;
  left: 550px;
  display: block;
  /* margin: 0 auto; */
  /* align: center; */
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 4px;
  background-color: rgb(129,213,166);
  border: none;
  color: #fff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
  border-radius: 4px;
}

.button:hover {
  background: cyan;
  box-shadow: 0px 2px 10px 5px #1abc9c;
  color: #000;
}

.button:after {
  content: "";
  background: #1abc9c;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button:focus {
  outline:0;
}

a {
  color: white;
}

.tank_name {
  margin: auto;
  color: white;
  position: relative;
  top: 20px;
  text-align: center;
  /* color: #00FA9A; */
  font-family: 'Pacifico', regular;
  font-size: 60px;
  font-weight: normal;
  /* text-shadow: 1px 1px 2px #082b34; */
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #00FA9A, 0 0 30px #00FA9A, 0 0 40px #00FA9A, 0 0 55px #00FA9A, 0 0 75px #00FA9A;
  color: #FFFFFF;
}

.money_problems {
  color: white;
  position: fixed;
  text-align: center;

  left: 48%;
  top: 574px;
  font-family: 'Permanent Marker', regular;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.tank_show {
  background-image: url("tank1a.png");
  /* height: 120%;
  width: 100%; */
  /* max-width: 100%; */
  /* max-height: 100%; */
  /* height: auto; */
  /* width: auto; */
  background-size: 100% 100%;

}

.fish1 {
  position: fixed;
  top: 150px;
  left: 600px;
}

.fish6 {
  position: fixed;
  top: 400px;
  left: 200px;
}
