/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

html,body{
background-image: url('https://cdn.pixabay.com/photo/2018/04/21/00/03/fantasy-3337385_960_720.jpg');
background-size: cover;
/* background-repeat: no-repeat; */
height: 100%;
font-family: 'Hind Siliguri', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 350px;
background-color: rgba(0,0,0,0.5) !important;
}

/* .email_style{
/* margin-top: auto; */

.card-header {
  line-height: 1.6;
  color: white;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Luckiest Guy', astigmatic;
  position: relative;
  bottom: -40px;
}

.card-header_login {
  line-height: 1.6;
  color: white;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Luckiest Guy', astigmatic;
  position: relative;
  bottom: -40px;
}

.card_login {
  height: 270px;
  margin-top: auto;
  margin-bottom: auto;
  width: 350px;
  background-color: rgba(0,0,0,0.5) !important;
}

.brand_logo_container {
			position: absolute;
			height: 120px;
			width: 120px;
			top: -75px;
			border-radius: 50%;
			background: #60a3bc;
			padding: 10px;
			text-align: center;
		}
		.brand_logo {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			border: 2px solid white;
		}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.submit_btn{
color: black;
font-size: 18px;
font-family: 'Luckiest Guy';
background-color: #FFC312;
width: 200px;
}

.submit_btn:hover{
color: white;
background-color: grey;
}

.submit_btn_2 {
color: black;
font-size: 18px;
font-family: 'Luckiest Guy';
background-color: #FFC312;
width: 100px;
}

.submit_btn_2:hover{
color: white;
background-color: grey;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.login_container {
 margin: auto;
}

.register_link {
  margin: 20px;
  color: white;
  font-family: 'Luckiest Guy', astigmatic;
}

.heart{
  margin: auto;
  margin-left: 130px;
  font-size: 3.0em;

  /* height: 100px; */
}

.tank_body{
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/016/241/647/large/adam-homoki-cartoonwatersahder-lake.jpg?1551433480') !important;
  height: 100%;
}
